certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
requests-toolbelt >= 0.9.1
pycryptodome >= 3.11.0
typing_extensions >= 4.7.0
aspose-words-cloud >=21.12.0